<nav class="navbar navbar-expand-sm header text-light navbar m-2 rounded-3">
    <div class="container-fluid h-75">


        <i class="fa-solid fa-bars iconbars ms-2 "></i>
        <div class="logo d-flex mx-3 ms-4 my-0 pt-2">
          <h3 class="m-0"><i class="fa-solid fa-microchip iconbars py-2 px-1"></i> OCTA</h3>
        </div>
      
        <div class="input d-flex mx-3 rounded-2  ms-4 bg-light">
            <div class="rounded-start p-2 text-secondary  bg-light">
                <i class="fa-solid fa-magnifying-glass"></i></div>
            <input class=" rounded-end w-100 py-2 me-2 border border-0" type="text" placeholder="Search">
        </div>



      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ms-5">
          <li class="nav-item mx-4">
            <a class="nav-link text-white badgea p-0" href="#"><i class="fa-regular fa-message iconbars"></i>
                <span class="badge  border-2 border border-light p-1 text-white rounded-circle">1</span></a>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link text-white badgea p-0" href="#"><i class="fa-regular fa-paper-plane iconbars"></i>
                <span class="badge border border-light p-1 text-white rounded-circle">1</span></a>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link text-white badgea p-0" href="#"><i class="fa-regular fa-bell iconbars"></i>
                <span class="badge border border-light p-1 text-white rounded-circle">1</span>
            </a>
          </li>
        </ul>
      </div>


     <div class="me-5 rounded-5 bg-secondary p-2">
        <i class="fa-solid fa-globe iconbars"></i>
        <span class="h4 mx-2">English</span>
        <i class="fa-solid fa-chevron-down iconbars"></i>
     </div>



      <div class="person ms-3 h-25 d-flex ">
      <a class="navbar-brand" href="#">
        <img src="assets/images/img_avatar1.png"
        alt="Avatar Logo" style="width:40px;" class="rounded-pill">

</a>
      <div>
        <h5 class="m-0">Pyramakerz</h5>
        <p class="m-0">Manager</p>
      </div>
      </div>
    </div>
  </nav>
